header {
  color: $neutral-50;
  background-color: $primary-700;
  height: 100%;
  width: 23.438rem;
  position: fixed;
  left: 0;
  z-index: 998;
  padding: 0rem 1rem;
}

.movies-header {
  height: fit-content;
}

.seats-tickets-header {
  height: fit-content;
  margin-top: 50px;
  height: 67px;
  padding: $sp-100 $sp-150;

  .heading {
    width: 100%;
    align-items: center;
  }
}

.tickets-header {
  height: auto;
  gap: $sp-150;
  padding-block: $sp-150 $sp-300;
}

.profile-header {
  height: 2.75rem;
  justify-content: center;
}

.checkout-header {
  margin-top: 50px;
  height: 44px;
}

.header-top {
  width: 100%;
  justify-content: space-between;
  height: 2.75rem;
  align-items: center;
}

.header-title {
  text-align: center;
  font-size: 1.25rem;
}

.header-btn {
  padding-block: $sp-150;
  cursor: pointer;
}

.filter-menu, .notification-menu {
  display: none;
  height: 100%;
  background-color: $neutral-50;
  position: absolute;
  top: 0;
}

.filter-menu.active, .notification-menu.active {
    display: flex;
}

.header-bottom {
  justify-content: center;
  gap: $sp-200;
  height: 100%;
  padding-block: $sp-50 $sp-150;
}

.search-wrapper {
  position: relative;
}

.search-container {
  background-color: gray;
  padding: 0.5rem;
  align-items: center;
  gap: 0.25rem;
}

.search-container:focus-within {
  box-shadow: 0 0 0 3px rgba(0, 122, 255, 0.2);
  outline: 1px solid red;
}

.search-container input[type="search"] {
  outline: none;
  font-size: 1rem;
  color: white;
}

.search-container input[type="search"]::placeholder {
  color: white;
}

.search-icon {
  width: 24px;
  height: 24px;
  justify-content: center;
  align-items: center;
}

.search-results {
  display: block;
  position: absolute;
  color: black;
  background-color: white;
  height: 10rem;
  width: 100%;
  inset: 0;
  margin-top: 3rem;
  z-index: 3;
  pointer-events: auto;
}

.search-results.hidden {
  display: none;
  z-index: 0;
}
