.grid {
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: auto;
    gap: 1rem;
}

.movie-poster {
    aspect-ratio: 2 / 3;
    background-color: yellow;

    img {
        width: 100%;
    }
}

#hero {
    height: 9.75rem;
    background-color: peru;
}