// Carousel
.carousel {
    position: relative;
    z-index: 0;
    width: 100%;
    overflow: clip;
}

.carousel-slides {
    display: flex;
    height: 100%;
    transition: transform 0.5s ease-in-out;
    width: calc(100% * numberOfSlides);
}

.carousel-slide {
    flex: 0 0 100%;
    max-width: 100%;
}

.carousel-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.pagination {
    width: 100%;
    justify-content: center;
    position: absolute;
    z-index: 1;
    bottom: 0;
    gap: 1rem;
}

.pagination-dot {
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: #bbb;
    transition: background-color 0.5s ease;
    cursor: pointer;
}

.active, .pagination-dot:hover {
    background-color: #717171;
}

// Movie grid & contents
.grid {
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: auto;
    gap: 1rem;
}

.movie-poster {
    position: relative;
    aspect-ratio: 2 / 3;
}

.release-date {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: hsla(0, 0, 0, 0.8);
}