@use "abstracts/mixins" as *;
@use "base/colors" as *;
@use "base/spacing" as *;
@use "base/typography" as *;

.tickets-screen {
  padding: $sp-300 $sp-200;
  height: 100vh;
}

.tickets-header {
  height: fit-content;
  position: sticky;
  padding-block-end: $sp-150;
  gap: $sp-100;

  &__title {
    @include primary-font($heading-2, 600);
    text-align: center;
    padding-block: 0.35rem;
  }
}

.tickets-list {
  gap: $sp-200;
}

.tickets-list .list-item {
  gap: $sp-150;
  align-items: center;

  &__poster {
    height: 6rem;

    img {
      height: 100%;
      width: auto;
      object-fit: cover;
    }
  }

  &__overview {
    @include secondary-font($subhead);
    color: $neutral-50;
    gap: $sp-50;
  }

  &__title {
    @include secondary-font($body, 600);
  }

  &__link {
    @include secondary-font($subhead, 600);
  }
}

.item-details {
  @include ticket(300px, auto);
  position: absolute;
  align-content: center;
  top: 0;
  z-index: 1;
  left: 0;
  translate: 12% 50%;

  &.hidden {
    display: none;
  }

  &__poster-container {
    width: 100%;
    height: 5rem;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: top center;
    }
  }

  &__info-container {
    justify-content: center;
    align-items: center;
    padding-inline: $sp-200;
  }

  &__info div {
    justify-content: space-evenly;
    align-items: center;
  }

  &__showtime {
    gap: $sp-150;
  }

  &__seats {
    width: 50%;
  }

  &__seating-info {
    gap: $sp-100;
    justify-content: space-evenly;
  }

  &__order-info {
    width: 100%;
    align-items: center;
    gap: $sp-100;
  }

  &__order-num {
    @include primary-font($footnote, 600);
  }

  &__qr-container {
    width: 8rem;
    height: auto;

    canvas {
      width: 100%;
      height: 100%;
      display: block;
      image-rendering: -moz-crisp-edges;
      image-rendering: -webkit-crisp-edges;
      image-rendering: pixelated;
      image-rendering: crisp-edges;
    }
  }

  &__scan-qr {
    @include primary-font($footnote);
  }

  &__screen {
    width: 100%;
  }

  &__info {
    padding: $sp-200 0;
  }
}
