@use 'base/colors' as *;
@use 'base/spacing' as *;
@use 'base/typography' as *;

// Ticket mixin
@mixin ticket($width, $height) {
  color: $neutral-400;
  width: $width;
  height: $height;
  background: url(/media/ticket-background.svg) no-repeat center;
  align-items: center;
  @include secondary-font($body);
  border-radius: 12px;
  overflow: hidden;
  text-align: center;
}

@mixin bottom-sheet-states($y, $opacity, $visibility, $pointer-events, $delay) {
  transform: translateY($y);
  opacity: $opacity;
  visibility: $visibility;
  pointer-events: $pointer-events;
  transition: transform 0.4s cubic-bezier(0.3, 0, 0.3, 1), opacity 0.3s ease, visibility 0s linear $delay;
}

// Respond to media queries
$breakpoints: (
  "desktop": 64rem,
  "tablet": 48rem,
  "mobile": 23.438rem
);

@mixin respond-up($breakpoint) {
  $value: map-get($breakpoints, $breakpoint);

  @if $value {
    @media (min-width: $value) {
      @content;
    }
  }

 @else {
    @warn "Breakpoint '#{$breakpoint}' not found.";
  }
}

@mixin respond-down($breakpoint) {
  $value: map-get($breakpoints, $breakpoint);

  @if $value {
    @media (max-width: $value) {
      @content;
    }
  }

 @else {
    @warn "Breakpoint '#{$breakpoint}' not found.";
  }
}