.segmented-buttons {
  display: inline-flex;
  background-color: hsla(100, 100, 100, 12%);
  color: white;
  z-index: 2;
  border-radius: 0.75rem;
  width: 100%;

  .active {
    background-color: blue;
    box-shadow: 1px 1px 4px hsla(0, 0%, 0%, 0.2);
  }
}

.segmented-btn {
  background-color: transparent;
  color: white;
  border-radius: inherit;
  padding: 0.25rem 0.625rem;
  height: 1.75rem;
  width: 100%;
}

.food-button {
  position: absolute; // Ensures it doesn't scroll
  justify-content: center;
  align-items: center;
  bottom: 8%;
  right: 4%; // Adjusted to ensure proper placement
  background-color: $neutral-50;
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
  padding: $sp-100;
  z-index: 1;
}
