* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
}

button {
    border: none;
    background-color: transparent;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: white;
}

input {
    width: 100%;
    background-color: transparent;
    border: none;
}

input[type="search"]::-webkit-search-cancel-button {
  display: none;
}

span {
    width: fit-content;
}

::-webkit-scrollbar {
  display: none;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
}

.app-container {
    position: relative;
    height: 100vh;
    width: 23.438rem;
    background-color: $primary-800;
    color: $neutral-50;
    overflow: hidden;
}

#status-bar {
    position: fixed;
    inset: 0;
    height: 50px;
    width: inherit;
    background-color: $primary-700;
    z-index: 1000;
}

.screens-container {
    flex: 1;
    margin-top: 50px;
    position: relative;
}

.screen {
    position: absolute;
    inset: 0;

    .movies-screen {
        padding: $sp-200 $sp-200 $sp-1000;
    }  
}

.showtimes-and-details-screen {
    padding: $sp-400 $sp-200 $sp-1000;
}

.seats-and-tickets-screen {
    margin-top: 112px;
    padding: $sp-400 $sp-200 $sp-1000;
}

.checkout-screen {
    margin-top: 94px;
    height: 100%;
}

.screen.hidden {
    display: none;
}

.scrollable-content {
  flex: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 144px;
}