$primary-800: hsl(210, 100%, 8%);
$primary-700: hsl(210, 100%, 12%);
$primary-600: hsl(210, 100%, 16%);
$primary-500: hsl(210, 100%, 20%);
$primary-400: hsl(210, 46%, 35%);
$primary-300: hsl(210, 25%, 50%);
$primary-200: hsl(210, 25%, 65%);
$primary-100: hsl(210, 25%, 81%);

$accent-800: hsl(210, 100%, 8%);
$accent-700: hsl(30, 100%, 30%);
$accent-600: hsl(210, 100%, 16%);
$accent-500: hsl(210, 100%, 20%);
$accent-400: hsl(210, 46%, 35%);
$accent-300: hsl(210, 25%, 50%);
$accent-200: hsl(210, 25%, 65%);
$accent-100: hsl(210, 25%, 81%);

$neutral-50: hsl(0deg 0% 100%);
$neutral-400: hsl(0deg 0% 19%);